@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');

:root{
    font-size: 70%;
    font-family: 'Open Sans', sans-serif, Arial, Helvetica, sans-serif;
}

img{
    max-width: 25em;
    max-height: 25em;
}
